# Exploratory data analysis dalam data courses OULAD dataset

keterangan : 

File contains the list of all available modules and their presentations. The columns are:

    code_module – code name of the module, which serves as the identifier.
    code_presentation – code name of the presentation. It consists of the year and “B” for the presentation starting in February and “J” for the presentation starting in October.
    length - length of the module-presentation in days.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

function dibawah merupakan function modifikasi untuk melihat tipe data dari sebuah file csv, dan juga mengecek missing value dari dataset tersebut

In [8]:
def Load_File(path) :
    if os.path.isfile(path) :
        data = pd.read_csv(path)
        data = data.replace('?', np.nan)
        print("\n" + "banyaknya baris adalah %s" % len(data))
        print("banyaknya kolom adalah %s" % len(data.columns) + "\n")
        print("tipe data :- ")
        print(data.dtypes)
        print("Missing value (null):- ")
        print(data.isnull().sum())
        
        return data
    else:
        print(path + " tidak ada")

In [11]:
df = Load_File(r'C:\Users\Kouma\Datasets\courses.csv')

banyaknya baris adalah 22
banyaknya kolom adalah 3

tipe data :-
code_module                   object
code_presentation             object
module_presentation_length     int64
dtype: object
Missing value (null):-
code_module                   0
code_presentation             0
module_presentation_length    0
dtype: int64

In [12]:
df.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

# Preprocessing

pengecekan null value dilakukan lagi karena merupakan bagian dari preprocessing juga

In [13]:
print(df.isnull().any())

code_module                   False
code_presentation             False
module_presentation_length    False
dtype: bool

melihat banyaknya data presentasi di bulan februari dan oktober

In [15]:
df['presentation'] = df['code_presentation'].str[-1:]
df.head()

  code_module code_presentation  module_presentation_length presentation
0         AAA             2013J                         268            J
1         AAA             2014J                         269            J
2         BBB             2013J                         268            J
3         BBB             2014J                         262            J
4         BBB             2013B                         240            B

In [24]:
df['presentation'].value_counts()

J    13
B     9
Name: presentation, dtype: int64