# exploratory data analysis dalam data Student Registration OULAD dataset

keterangan : 
    This file contains information about the time when the student registered for the module presentation. **For students who unregistered the date of unregistration is also recorded.** File contains five columns:

    code_module – an identification code for a module.
    code_presentation - the identification code of the presentation.
    id_student – a unique identification number for the student.
    date_registration – the date of student’s registration on the module presentation, this is the number of days measured relative to the start of the module-presentation (e.g. the negative value -30 means that the student registered to module presentation 30 days before it started).
    date_unregistration – date of student unregistration from the module presentation, this is the number of days measured relative to the start of the module-presentation. Students, who completed the course have this field empty. Students who unregistered have Withdrawal as the value of the final_result column in the studentInfo.csv file.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

code exploratory menggunakan library os dan menggunakan modifikasi dari pandas read csv untuk mendapatkan jumlah baris, kolom, tipe data, dan missing value

In [4]:
def Load_File(path) :
    if os.path.isfile(path) :
        data = pd.read_csv(path)
        data = data.replace('?', np.nan)
        print("\n" + "banyaknya baris adalah %s" % len(data))
        print("banyaknya kolom adalah %s" % len(data.columns) + "\n")
        print("tipe data :- ")
        print(data.dtypes)
        print("Missing value (null):- ")
        print(data.isnull().sum())
        
        return data
    else:
        print(path + " tidak ada")

In [5]:
df = Load_File(r'C:\Users\Kouma\Datasets\studentRegistration.csv')

banyaknya baris adalah 32593
banyaknya kolom adalah 5

tipe data :-
code_module             object
code_presentation       object
id_student               int64
date_registration      float64
date_unregistration    float64
dtype: object
Missing value (null):-
code_module                0
code_presentation          0
id_student                 0
date_registration         45
date_unregistration    22521
dtype: int64

In [6]:
df.head()

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

# Preprocessing

dari deskripsi diatas, nilai missing pada column date_unregistration terjadi karena mahasiswa sudah menyelesaikan course. jadi, variabel date_unregistration dapat diganti dengan 0 dan 1 untuk complete dan withdrawal

In [7]:
df['date_unregistration'] = ['0' if pd.isnull(days) else '1' for days in df['date_unregistration']]
df['date_registration']   = df['date_registration'].fillna(0).astype(float).apply(abs)

In [8]:
df.head()

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,159.0,0
1,AAA,2013J,28400,53.0,0
2,AAA,2013J,30268,92.0,1
3,AAA,2013J,31604,52.0,0
4,AAA,2013J,32885,176.0,0